@media screen and (max-width: 992px) {
    .MuiStepper-horizontal {
        margin: 0 !important;
        padding-left: 0 !important;
    }
    .WithStyles\(ForwardRef\(StepConnector\)\)-line-10 {
        padding: 0 1.5rem;
        margin-left: -1.5rem;
    }
  }