.main h2{
    margin-top: 10rem !important;
    font-size: 2.5rem !important;
    font-weight: 700 !important;
}
.main h3{
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}
.main p{
    font-size: 1rem;
}
.main .w-35{
    width: 35%;
}
.main .w-10{
    width: 10%;
}
.main .my-btn{
    width: auto;
    height: auto;
    border-radius: 3rem !important;
    padding: 1.25rem 4rem 1.25rem !important;
    font-size: 1rem !important;
    background-image: linear-gradient(90deg, rgba(241,151,189,1) 0%, rgba(237,134,93,1) 100%) !important;
    border-image: linear-gradient(90deg,  rgba(237,134,93,1) 0%, rgba(241,151,189,1) 100%) !important;
    box-shadow: 0 0 0px 6px rgba(237,134,93,.6) !important;
    margin-bottom: 14rem !important;
}

@media screen and (max-width: 992px){
    .main .my-btn{
        margin-bottom: 12rem !important;
    }
    .main .w-35{
        width:70%;
    }
    .main .my-btn{
        padding: 1.5rem 5rem !important;
        margin-bottom: 9rem !important;
    }
}